.bg{
    width:100vw;
    height:100vh;
    position: absolute;
    overflow: hidden;
    top: 0px;
    opacity: 0.3;
    transform:scale(1.5);
}

.bgRows{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
    position: absolute;
    
}
.bgRows span{
    position: relative;
    overflow:hidden ;
    display:block;
    width: 100%;
    height: 3px;
    background-color:rgba(255, 255, 255, 0.267);
    background: linear-gradient(90deg,rgba(2, 6, 23, 1) 0%, var( --stroke-color) 16%, var( --stroke-color) 85%, rgba(2, 6, 23, 1) 100%);
}
.bgCols {
   display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    position: absolute;
}
.bgCols span{
    display:block;
    position: relative;
    width: 3px;
    overflow: hidden;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.267);
    background: linear-gradient(277deg,rgba(2, 6, 23, 1) 0%, var( --stroke-color) 16%, var( --stroke-color) 85%, rgba(2, 6, 23, 1) 100%);
}

.bgRows span::after{
    background: linear-gradient(80deg,rgba(17, 25, 48, 1) 0%, rgba(250, 250, 250, 0.4) 25%, rgba(250, 250, 250, 0.4) 79%, rgba(17, 25, 48, 1) 100%);
    content:"";
    width: 5px;
    height: 10px;
    position: absolute;
    width: 15%;
    left:-200px;
    animation: traslateRows 10s  steps(40) infinite  forwards;
}
.bgCols span::after{
    content: '';
    width: 10px;
    position: absolute;
    height: 25%;
    top:-250px;
    animation: traslateCols 10s  steps(40) infinite  forwards;
    background: linear-gradient(180deg,rgba(17, 25, 48, 1) 5%, rgba(250, 250, 250, 0.4) 25%, rgba(250, 250, 250, .4) 79%, rgba(17, 25, 48, 1) 97%);
}
@keyframes traslateRows {
    0%{left: -225px;}
    75%{left: -225px;}
    100%{left: 100%;}

}
@keyframes traslateCols {
    0%{top: -250px;}
    70%{top: -250px;}
    100%{top: 100%;}

}