@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
  --font-one:"Jersey 10", sans-serif;
  --font-two:"Poppins", sans-serif;
  --color-one:#6FDD00;
  --color-two:#7900FF;
  --color-thre:#40A2E3;
  --color-one-variation:#8cb203;
  --text-color-one:#F5F5F5;
  --text-color-two:#020617;
  --text-color-thre:#c3caca;
  --bg-one:#020617;
  --bg-one-variation:#000e4d;

  /*LINEAS DEL SVG*/
  --stroke-color:#141727;

}

body {
  max-width: 100vw;
  position: relative;
  background-color:var(--bg-one);

}
body::before{
    content: "";
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: var(--color-thre);
    position: absolute;
    right: 15%;
    top:70px;
    filter: blur(50px);
    opacity: 0.7;
    animation: orbitar 15s alternate-reverse infinite forwards;

}
.bodyConteiner{
  background-color: blue;
  overflow:visible;
  width: 100%;
  height: 100%;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

button{
  border: none;
}

@keyframes orbitar {
  from {
    transform: rotate(0deg) translateX(0px) rotate(0deg);
  }
  to {
    transform: rotate(360deg) translateX(5px) rotate(-360deg);
  }
}